body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #fff;
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100vh;
}

.login-container {
    background-color: #1f1f1f;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
    width: 300px;
}

.login-container input {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #03dac6;
    color: #000;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;

    button:hover {
        background-color: #00bfa5;
    }
}

#mensagem {
    margin-top: 10px;
    color: #ff5252;
    font-weight: bold;
}

.menue {
    position: absolute;
    justify-content: center;
    text-align: center;
    width: 100%;
}
.menue div{
      background-color: #1f1f1f;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);   
}

ul {
    overflow: hidden;
    list-style-type: none;
    font-size: 40px;
    background-color: #868686;
}
li{
    padding: 20px;
    text-align: center;
    color: #ff5252;
    display: inline;
}
li a{ 
    padding: 10px;
}
li a:hover {
    background-color: #6fa0c8;
    border-radius: 15px;
}